<div class="card card-signin my-5">
  <div class="card-body">
    <h5 class="card-title text-center">Sign In</h5>
    <form [formGroup]="form" (submit)="login()">
      <div class="form-group">
        <label for="email">Login</label>
        <input formControlName="email"
               type="email"
               id="email"
               class="form-control"
               placeholder="Login">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password"
               type="password"
               class="form-control"
               placeholder="Password">
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block text">Submit</button>
      <div *ngIf="errors.length"
           class="alert alert-danger mt-4"
           role="alert">
        <div *ngFor="let error of errors">
          {{ error }}
        </div>
      </div>
    </form>
  </div>
</div>
